@font-face {
    font-family: 'Brandon-Grotesque-Font-Family';
    src: url('Fonts/brandon-grotesque-light-58a8a4b38001d.otf');
}

a {
    text-decoration: none;
    color: #2A7C6F;
}

.LogoXCheck {
    display: block;
    width: 200px;
    height: auto;
    margin: auto;
}

.LogoMSP {
    display: block;
    width: 100px;
    height: auto;
    margin: auto;
}

.GraphDemo {
    display: block;
    width: 1000px;
    height: auto;
    margin: auto;
}

section {
    font-family: Avenir Light, sans-serif;
    text-align: center;
    font-size: 20px;
    color: #2A7C6F;
}

nav {
    font-family: Avenir Light, sans-serif;
    text-align: center;
    font-size: 14px;
    color: #2A7C6F;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: auto;
}

hr {
    display: block;
    float: center;
    margin-right: 100px;
    margin-left: 100px;
}

h1 {
    font-family: 'Brandon-Grotesque-Font-Family', Avenir Light, sans-serif;
    text-align: center;
    font-size: 72px;
    color: #2A7C6F;
}

h2 {
    font-family: Avenir Light, sans-serif;
    text-align: center;
    font-size: 20px;
    color: #2A7C6F;
}

h3 {
    font-family: Avenir Light, sans-serif;
    text-align: center;
    font-size: 14px;
    color: #2A7C6F;
}

.Searchbar {
    display: block;
    width: 800px;
    height: auto;
    margin: auto;
}

/* Search bar design*/
.form {
    width: auto;
    max-width: 900px;
    height: auto;
    margin: auto;
    text-align: center;
}

.input {
    width: 80%;
    padding: 10px;
    padding-left: 20px;
    font-family: Avenir;
    font-size: 20px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(199, 198, 198);
}

.search {
    width: auto;
    font-family: Avenir;
    font-size: 20px;
    border-style: none;
    background-color: white;
    position: center;
}

.results-container {
    width: auto;
    max-width: 800px;
    height: auto;
    margin: auto;
    text-align: left;
    color: black;
}

/* for speech bubble  */
.speech-bubble {
    display: block;
    background-color: #c0c0c0;
    border-radius: 20px;
    width: 200px;
    height: 330px;
    position: absolute;
    top: 35em;
    right: 7em;
    text-align: center;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-right-color: #c0c0c0;
    border-left: 0;
    margin-top: -40px;
    margin-left: -40px;
}

#symptomDescription {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.textsymp {
    width: 100px;
    font-size: 15px;
    padding-left: 40px;
}

/* for venn diagram  */
#container {
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 0;
}

.venn {
    display: block;
    height: 200px;
    width: 200px;
    color: rgb(234, 20, 20);
    margin-top: 50px;
}

/* for list of drugs for a symptom */
.treatmentBox {
    display: block;
    background-color:lightpink;
    border-radius: 20px;
    width: 400px;
    height: auto;
    text-align: left;
    margin: 20px;
    margin-top: 70px;
}

#tListText {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 14px;
}

.hdiw {
    text-align: left;
    padding: 50px;
}

.HDIWGraphic {
    width: 100%;
}

.body {
    background-color: #edebe7;
}

.select {
    position: absolute;
    
}

.arc text {
    font-family: Avenir;
    font-size: 10px;
    text-anchor: middle;
}

.arc path {
    stroke: #F8FBFF;
}

.container {
    display: flex;
    width: 100%;
}

.container .flex-column-left {
    flex-grow: 2;
}

/* .container .flex-column-right {
} */

#ausection1 {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-evenly;
}

.quote {
    text-align: left;
    margin-top:10px;
    margin-left: 20px;
    padding-left: 2%;
    padding-right: 2%;
}

#ausection2 {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-evenly;
}

.foto {
    margin-top: 10px;
    margin-right: 10px;
    height: 200px;
    width: 200px;
    padding: 5%;
}

#disclaimer {
    font-weight: bolder;
    color: #084339; 
    border: 2px solid #084339;
    padding: 3px;
    margin-inline: 50px;
    background-color: #eff8ff;
    text-align: center;

}

.collapsible {
    background-color: #bee3dd;
    color:#257266;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

.active, .collapsible:hover {
    background-color: #9fd9d0;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;  
    background-color: #ddfaf4;
    font-size: 15px;
    text-align: left;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  /*Parts were adapted from https://www.w3schools.com/howto/howto_js_collapsible.asp*/
